@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html,
body,
#root,
.App {
    height: 100%;
    margin: 0;
    background-color: #212121;
    font-size: 2vw;
    overflow-x: hidden;
}

canvas {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.spacer {
    height: 5rem;
}

.name {
    margin: 0 auto;
    width: fit-content;
    font-family: 'Space Mono', monospace;
    font-size: 5rem;
    color: white;
    line-height: 4.25rem;
    border-right: none;
    animation: typing-cursor 1.5s step-end 0s 10;
    animation-iteration-count: 5;
}

.earth {
    position: absolute;
    top: 20rem;
    left: 0;
    right: 0;
    width: 10rem;
    margin: auto;
    animation: floating 3s ease-in-out infinite;
}

@keyframes typing-cursor {
    0% {
        border-right: solid 1.25rem transparent;
    }
    50% {
        border-right: solid 1.25rem white;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 2rem);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html,
    body,
    #root {
        font-size: 18px;
    }
}
