@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

$back-color: #212121;

html,
body,
#root,
.App {
    height: 100%;
    margin: 0;
    background-color: transparent;
    font-size: 2vw;
    font-family: 'Space Mono', monospace;
    color: white;
    overflow-x: hidden;
}

body {
    background-color: $back-color !important;
}

canvas {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: gold;
    transition: 0.3s;
}

a:hover {
    color: goldenrod;
}

.spacer {
    height: 5rem;
}

.name {
    margin: 0 auto;
    width: fit-content;
    font-size: 5rem;
    line-height: 4.25rem;
    border-right: none;
    animation: typing-cursor 1.5s step-end 0s 10;
    animation-iteration-count: 5;
}

.earth {
    animation: floating 3s ease-in-out infinite;
    display: block;
    margin: auto;
}

.info {
    margin: 5em 10em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}

.info-item {
    flex-basis: 50%;
}

.about {
    font-size: 1.25rem;
    background-color: $back-color;
}

.links {
    font-size: 2rem;
    text-align: left;
}

@keyframes typing-cursor {
    0% {
        border-right: solid 1.25rem transparent;
    }
    50% {
        border-right: solid 1.25rem white;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, -1rem);
    }
    50% {
        transform: translate(0, 1rem);
    }
    100% {
        transform: translate(0, -1rem);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html,
    body,
    #root {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1199px) {
    .info {
        margin: 1em 1em;
        font-size: 2em !important;
        flex-wrap: wrap;
    }
    .info-item {
        flex-basis: 100%;
        text-align: center;
        font-size: 1em;
    }
    .links {
        font-size: 2em !important;
    }
}